// *** Colors ***
$color-black: #000;
$color-white: #fff;

$color-dark: #222;
$color-light: #f1f1f1;

$color-yellow-bg: #eddcad;

$color-yellow: #ff0;
$color-orange: #ff8000;
$color-red: #f00;

$color-bg-boy: rgb(225, 197, 187);
$color-nose-boy: rgb(192, 147, 130);
